<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
  <pluginGroups>
    <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
  </pluginGroups>
  <servers>
    <server>
      <id>central</id>
      <username>${env.ARTIFACTORY_USERNAME}</username>
      <password>${env.ARTIFACTORY_PASSWORD}</password>
    </server>
    <server>
      <id>snapshots</id>
      <username>${env.ARTIFACTORY_USERNAME}</username>
      <password>${env.ARTIFACTORY_PASSWORD}</password>
    </server>
    <server>
      <id>gamesys-unicorn-docker-registry</id>
      <username>${env.ARTIFACTORY_USERNAME}</username>
      <password>${env.ARTIFACTORY_PASSWORD}</password>
      <configuration>
        <email>dave.the.unicorn@gamesys.co.uk</email>
      </configuration>
    </server>
    <server>
      <id>gamesys-unicorn-docker-build.artifactory.gamesys.co.uk</id>
      <username>${env.ARTIFACTORY_USERNAME}</username>
      <password>${env.ARTIFACTORY_PASSWORD}</password>
      <configuration>
        <email>dave.the.unicorn@gamesys.co.uk</email>
      </configuration>
    </server>
    <server>
      <id>gamesys-unicorn-docker-repositories.artifactory.gamesys.co.uk</id>
      <username>${env.ARTIFACTORY_USERNAME}</username>
      <password>${env.ARTIFACTORY_PASSWORD}</password>
      <configuration>
        <email>dave.the.unicorn@gamesys.co.uk</email>
      </configuration>
    </server>
  </servers>
  <interactiveMode>false</interactiveMode>
  <profiles>
    <profile>
      <id>artifactory</id>
      <repositories>
        <repository>
          <id>central</id>
          <name>gamesys-unicorn-maven-release-virtual</name>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <url>https://artifactory.gamesys.co.uk/artifactory/gamesys-unicorn-maven-release-virtual</url>
        </repository>
        <repository>
          <id>snapshots</id>
          <name>gamesys-unicorn-maven-snapshots-virtual</name>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <releases>
            <enabled>false</enabled>
          </releases>
          <url>https://artifactory.gamesys.co.uk/artifactory/gamesys-unicorn-maven-snapshots-virtual</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <name>gamesys-unicorn-maven-release-virtual</name>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <url>https://artifactory.gamesys.co.uk/artifactory/gamesys-unicorn-maven-release-virtual</url>
        </pluginRepository>
        <pluginRepository>
          <id>snapshots</id>
          <name>gamesys-unicorn-maven-snapshots-virtual</name>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <releases>
            <enabled>false</enabled>
          </releases>
          <url>https://artifactory.gamesys.co.uk/artifactory/gamesys-unicorn-maven-snapshots-virtual</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
